/* Initial setup */
:root {
  /* Website color palette */
  --color-primary: #1F2937;
  --color-secondary: #F9FAF8;
  --color-tertiary: #E5E7EB;
  --color-quaternary: #3882F6;
}

*,
*:after,
*:before {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

html {
  box-sizing: border-box;
  /* Sets the font-size to 10px (62.5% of 16px is 10px) Easier to use REM units */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html, body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  font-size: 1.6rem;
}

.section {
  padding-left: 15vw;
  padding-right: 15vw;
}


/* BUTTONS */
.button {
  color: #fff;
  background-color: var(--color-quaternary);
  padding: 8px 24px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1.6rem;
  display: inline-block;
}

.button:hover {
  color: var(--color-quaternary);
  background-color: #fff;
  transition: all .3s;
}


/* HEADER */
.header, .footer {
  background-color: var(--color-primary);
}

.header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: 70vh;
  display: flex;
  flex-direction: column;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo a {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--color-secondary);
}

.header-links {
  display: flex;
  gap: 2rem;
}

.header-links a {
  color: var(--color-tertiary);
}

.header-logo a:hover, .header-links a:hover {
  color: var(--color-quaternary);
  transition: all .3s;
}

h1 {
  font-size: 4.8rem;
  font-weight: 900;
  color: var(--color-secondary);
}

.header-links, .hero-text p {
  font-size: 1.8rem;
  color: var(--color-tertiary);
}

.header__hero {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 5rem;
}

.hero-text p {
  margin: 1.5rem 0;
}

.header__hero img {
  width: 60%;
}


/* MAIN CONTENT */
.main-content {
  padding-top: 5rem;
  padding-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.card-composition {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

h2 {
  font-size: 3.6rem;
  color: var(--color-primary);
  font-weight: 900;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  width: 200px;
}

.card img {
  border-radius: 10px;
  height: 200px;
  width: 100%;
}

.main-content p {
  color: var(--color-primary);
}


/* TESTIMONIALS */
.testimonials {
  background-color: var(--color-tertiary);
  padding: 10rem 35rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.testimonials p {
  font-size: 3.6rem;
  font-weight: 300;
  color: var(--color-primary);
  font-style: italic;
}

.testimonials b {
  font-size: 2.4rem;
  align-self: flex-end;
}


/* SIGN UP */
.sign-up {
  background-color: var(--color-quaternary);
  color: var(--color-secondary);
  border-radius: 10px;
  width: 70vw;
  padding: 5rem;
  margin: 10rem;
  display: flex;
  justify-content: space-around;
}

h3 {
  font-size: 2.4rem;
}

.sign-up p {
  font-weight: 300;
}

.sign-up .button {
  border: 2px solid #fff;
  align-self: center;
}


/* FOOTER */
.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer p {
  color: var(--color-tertiary);
}